[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/CharmedBaryon/CommonLibSSE-NG.git
[submodule "extern/BethesdaCMakeModules"]
	path = extern/BethesdaCMakeModules
	url = https://github.com/shad0wshayd3/BethesdaCMakeModules.git
